{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    <h1>Job index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>HpBonus</th>
                <th>MpBonus</th>
                <th>StrengthBonus</th>
                <th>MagicBonus</th>
                <th>AgilityBonus</th>
                <th>DefenseBonus</th>
                <th>DefenseMagicBonus</th>
                <th>WisdomBonus</th>
                <th>ProspectingBonus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.picture }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.hpBonus }}</td>
                <td>{{ job.mpBonus }}</td>
                <td>{{ job.strengthBonus }}</td>
                <td>{{ job.magicBonus }}</td>
                <td>{{ job.agilityBonus }}</td>
                <td>{{ job.defenseBonus }}</td>
                <td>{{ job.defenseMagicBonus }}</td>
                <td>{{ job.wisdomBonus }}</td>
                <td>{{ job.prospectingBonus }}</td>
                <td>
                    <a href="{{ path('app_job_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('app_job_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_job_new') }}">Create new</a>
{% endblock %}
