{% extends 'base.html.twig' %}
{# % form_theme registerForm 'bootstrap_5_horizontal_layout.html.twig' % #}
{% form_theme registerForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('./styles/form-register.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 fw-normal">
        {{ 'Register'|trans }}
    </h1>

    {{ form_start(registerForm) }}
        {{ form_errors(registerForm) }}
        {{ form_row(registerForm.name) }}
        {{ form_row(registerForm.email) }}
        {{ form_row(registerForm.newPassword) }}
        {{ form_row(registerForm.agreeTerms) }}

        <button class="btn btn-primary w-100 py-2" type="submit">
            <i class="fa-solid fa-pen"></i>
            {{ 'Register'|trans }}
        </button>
    {{ form_end(registerForm) }}
{% endblock %}
