{%- set pageTitle =
	(block('title') is not defined or block('title') is empty ? '' : block('title') ~ ' | ')
	~ app_parameter('app.name')
-%}
<!DOCTYPE html>
<html class="h-100" data-bs-theme="light" lang="{{ app_parameter('app.default_locale') }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=5.0, user-scalable=no">

		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/favicon.ico">

		<title>{{ pageTitle }}</title>

		{% block stylesheets %}
		{% endblock %}
		{% block javascripts %}
			{% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %}

		<!-- Bootstrap core CSS -->
		<!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->

		<!-- Custom styles for this template -->
		<link href="/css/navbar-top-fixed.css" rel="stylesheet">
		<script src="/js/bootstrap.bundle.min.js"></script>
	</head>

	<body class="d-flex flex-column h-100">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('app_home') }}">{{ app_parameter('app.name') }}</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">{{ 'Main'|trans }}</a>
							<ul class="dropdown-menu" aria-labelledby="dropdown08">
								<li><a class="dropdown-item" href="{{ path('app_home') }}">{{ 'News'|trans }}</a></li>
								<li><a class="dropdown-item" href="{{ path('app_presentation') }}">{{ 'Presentation'|trans }}</a></li>
								<li><a class="dropdown-item" href="{{ path('app_job_index') }}">{{ 'Jobs'|trans }}</a></li>
								<li><a class="dropdown-item" href="{{ path('app_contact') }}">{{ 'Contact'|trans }}</a></li>
								<li><a class="dropdown-item" href="{{ path('app_about') }}">{{ 'About'|trans }}</a></li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-nav pull-right">
						<li class="nav-item dropdown">
							{# if is_granted('IS_AUTHENTICATED') works too #}
							{% if app.user %}
								{{ 'Welcome,'|trans }} {{ app.user.name }}!
							{% endif %}
							<a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">
								{{ 'Menu'|trans }}
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown08">
								{% if is_granted('IS_AUTHENTICATED') %}
									<li><a class="dropdown-item" href="{{ path('app_admin_dashboard') }}">{{ 'Administration'|trans }}</a></li>
									<li class="dropdown-divider"></li>
								{% endif %}
								{% if app.user %}
									<li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></li>
								{% else %}
									<li><a class="dropdown-item" href="{{ path('app_login') }}">{{ 'Login'|trans }}</a></li>
									<li><a class="dropdown-item" href="{{ path('app_register') }}">{{ 'Register'|trans }}</a></li>
								{% endif %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{%- include './_partials/dropdown-theme.html.twig' -%}
		{%- include './_partials/flash-messages.html.twig' -%}
		<main class="container">
		  <div class="bg-light text-dark p-5 rounded">
				<div class="px-1 py-1 rounded">
					{% block body %}{% endblock %}
				</div>
			</div>
		</main>
		<footer class="footer mt-auto py-3 bg-body-tertiary">
			<div class="container-fluid">
				<div class="d-flex flex-column justify-content-center align-items-center">
					<span>Page's execution time: {{ app_execution_time() }}</span>
					<span>{{ app_parameter('app.name') ~ ': ' ~ app_parameter('app.version') }}</span>
				</div>
			</div>
		</footer>
		{% block javascripts_endbody %}
		{% endblock %}
	</body>
</html>
