{%- set pageTitle =
	app_parameter('app.name')
	~ (block('title') is not defined or block('title') is empty ? '' : ' | ' ~ block('title')) -%}
<!DOCTYPE html>
<html class="h-100" data-bs-theme="light" lang="{{ app_parameter('app.default_locale') }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=5.0, user-scalable=no">

		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/favicon.ico">

		<title>{{ pageTitle }}</title>

		{% block stylesheets %}
		{% endblock %}
		{% block javascripts %}
			{% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %}

		<!-- Bootstrap core CSS -->
		<!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->

		<!-- Custom styles for this template -->
		<link href="/css/navbar-top-fixed.css" rel="stylesheet">
	</head>

	<body class="d-flex flex-column h-100">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">BrindiWanko</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Accueil</a>
							<ul class="dropdown-menu" aria-labelledby="dropdown08">
								<li><a class="dropdown-item" href="/">Actualité</a></li>
								<li><a class="dropdown-item" href="/">Présentation</a></li>
								<li><a class="dropdown-item" href="/">Les classes</a></li>
								<li><a class="dropdown-item" href="/">Contact</a></li>
								<li><a class="dropdown-item" href="/">A propos</a></li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-nav pull-right">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Mon compte</a>
							<ul class="dropdown-menu" aria-labelledby="dropdown08">
								{% if app.user %}
									<li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
								{% else %}
									<li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
									<li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
								{% endif %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{%- include './_partials/dropdown-theme.html.twig' -%}
		<main class="flex-shrink-0">
			<div class="container-fluid">
				<div class="p-5 rounded">
					{% block body %}{% endblock %}
				</div>
			</div>
		</main>
		<footer class="footer mt-auto py-3 bg-body-tertiary">
			<div class="container-fluid">
				<div class="d-flex flex-column justify-content-center align-items-center">
					<span>Page's execution time: {{ app_execution_time() }}</span>
					<span>{{ app_parameter('app.name') ~ ': ' ~ app_parameter('app.version') }}</span>
				</div>
			</div>
		</footer>
		<script src="/js/bootstrap.bundle.min.js"></script>
		{% block javascripts_endbody %}
		{% endblock %}
	</body>
</html>